@media screen and (max-width: 480px) {
	.container {  
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: min-content;
	  gap: 10px 10px;
	  background-color: #01161E;
	  border: 10px solid #01161E;
	  grid-auto-flow: row;
	  grid-template-areas:
		"nombre"
		"nombre"
		"desarrollo"
		"desarrollo"
		"desarrollo"
		"nada1"
		"git";
	}
    .foto-desc {
        max-width: 0%;
    }
    

    .foto-desc2 {
        max-width: 0%;
    }
    
    .p2 {
        max-width: auto;
        text-align: left;
        margin-left: 10px;
    }
    .p {
        max-width: auto;
        text-align: left;
        margin-left: 10px;
    }
    
  }
  
  @media (max-width: 960px) and (min-width: 480px) {
	.container {  
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: min-content;
	  gap: 10px 10px;
	  background-color: #01161E;
	  border: 10px solid #01161E;
	  grid-auto-flow: row;
	  grid-template-areas:
		"nombre desarrollo"
		"nombre desarrollo"
		"nombre desarrollo"
        "nombre desarrollo"
		"nada1 desarrollo"
		"nada1 desarrollo"
        "git desarrollo";
	}
    .foto-desc {
        max-width: 0%;
    }
    

    .foto-desc2 {
        max-width: 0%;
    }
    
    .p2 {
        max-width: auto;
        text-align: left;
        margin-left: 10px;
    }
    .p {
        max-width: auto;
        text-align: left;
        margin-left: 10px;
    }
    
  }
  
  @media screen and (min-width: 960px) {
	.container {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
	  grid-template-rows: 1fr 1fr 1fr 0.5fr;
	  gap: 10px 10px;
	  background-color: #01161E;
	  border: 10px solid #01161E;
	  grid-auto-flow: row;
	  grid-template-areas:
		"nombre desarrollo desarrollo desarrollo desarrollo"
		"nombre desarrollo desarrollo desarrollo desarrollo"
		"nada1 desarrollo desarrollo desarrollo desarrollo"
		"azul git git git nada2";
	}
    .foto-desc {
        position: absolute; 
        left: 50%; 
        margin-bottom: 2%;
        bottom: 0; 
        left: 73.55%;   
        max-width: 25%;
        height: auto;
        border: 3px solid #EAEFE9    
        }
    
    
        .foto-desc2 {
            position: absolute;
            left: 73.55%;
            margin-top: 1%;
            max-width: 25%;
            height: auto;
            border: 3px solid #EAEFE9
        }     
        .p2 {
            max-width: 60%;
            text-align: left;
            margin-left: 10px;
        }
        .p {
            max-width: 75%;
            text-align: left;
            margin-left: 10px;
        }

}